/*HTML*/
html,
body {
    padding: 0;
    margin: 0;
    font-family: roboto, sans-serif;
}

/*Container*/
.container {}

/*HEADER-BAR*/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    margin-left: 170px;
    margin-right: 170px;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

.header-links {
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.top-section {
    height: 500px;
    background-color: #1f2937;
    font-size: 18px;

}
/*PRESENTATION 1*/
.presentation-1{
    display: flex;
    align-items: center;
    justify-content:  space-between;
    height: 350px;
    margin-left: 170px;
    margin-right: 170px;    
    text-align: left;
}