/*********!HTML*********/

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
}

.section-1,
.section-4,
.section-5 {
    padding-left: 10%;
    padding-right: 10%;
}

.section-2,
.section-3 {
    padding-left: 15%;
    padding-right: 15%;
}


/*********!SECTION-1*********/

.section-1 {
    height: 540px;
    background-color: #404546;
    font-size: 18px;
}

/*********!HEADER-BAR*********/

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0 0 0;
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 16px;
    color: #F9FAF8;
    font-size: 1.5rem;
    font-weight: 900;
}

.header-logo .tiger-logo img {
    height: 4rem;
}


.header-links {
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #D4D6D8;
}

/*********!PRESENTATION 1*********/

.presentation-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    height: 440px;
    text-align: left;
}

.presentation-1 .left-text,
.presentation-1 .right-img {
    width: 50%;
    height: 50%;
    max-width: 600px;
}

.presentation-1 .left-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.presentation-1 .title {
    font-size: 3rem;
    color: #F9FAF8;
    font-weight: 900;
}

.presentation-1 .description {
    font-size: 1.125rem;
    color: #D4D6D8;
}

.presentation-1 .source {
    font-size: 0.8rem;
    align-self: flex-end;
    color: #D4D6D8;
    padding-right: 20px;
}

.button button {
    background-color: #D99036;
    font-size: 1.15rem;
    color: #F9FAF8;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    width: 150px;
    height: 40px;

}

.presentation-1 .right-img {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
}

.presentation-1 .right-img img {
    width: 100%;
    height: 100%;
    border: 3px solid #D99036;
    border-radius: 15px;

}

/*********!SECTION-2*********/

.section-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 48px;
    height: 500px;
}

.section-2 .title {
    align-self: center;
    font-size: 2.3rem;
    font-weight: 900;
    color: #404546;
}

.section-2 .card-collection {
    display: flex;
    justify-content: space-between;
    gap: 48px;

}

.section-2 .card-collection .card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 200px;
    font-size: 1rem;
    color: #404546;
    text-align: center;
}

.section-2 .card-collection .card .image {
    margin: 0;
    height: 12rem;
    max-width: 12rem;
    border: 5px solid #D99036;
    border-radius: 20px;

}

.section-2 .card-collection .card .image img {
    width: 100%;
    height: 100%;
    border-radius: 15px;

}

/*********!SECTION-3*********/
.section-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    height: 400px;
    background-color: #BEC3C5;
}

.section-3 .quote {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 2.25rem;
    font-weight: 300;
    font-style: italic;
    color: #404546;

}


.section-3 .quote .quote-author {
    align-self: flex-end;
    color: #404546;
    font-weight: 900;
    font-size: 1.5rem;
}

/*********!SECTION-4*********/
.section-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.section-4 .call-to-action {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #D99036;
    border-radius: 20px;
}

.section-4 .left-text {
    color: #F9FAF8;
    font-size: 1.125rem;
}

.section-4 .left-text .heading {
    font-size: 2rem;
    font-weight: 700;
}

.section-4 .left-text .description {
    font-style: italic;
    font-weight: 300;
    padding-top: 4px;
}

.section-4 .button button {
    font-size: 1.2rem;
    border: 3px solid white;
    border-radius: 10px;
    height: 50px;
    width: 160px;
}

/*********!SECTION-5*********/
.section-5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    height: 90px;
    background-color: #404546;

}
.section-5 .footer {
    display: flex;
    justify-content: space-between;
    gap:16px ;
    align-items: baseline;

}
.section-5 .description{
    display: flex;
    gap: 16px;
}

.section-5 .creator-1 {
    font-size: 1rem;
    color: #F9FAF8;
}
.section-5 .copyright {
    color: #D4D6D8;
    font-size: 0.6rem;
}

.section-5 .creator-2 {
    font-size: 0.6rem;
}